In [4]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np

df1 = pd.read_csv("NSW_Road_Crash.csv")
df1.dropna()

df2 = pd.read_csv("Traffic_Volume_Viewer.csv")
df2.dropna()

unique_vehicle_types = df1['Key TU type'].unique()
#print(unique_vehicle_types)
unique_vehicle_types_list = list(unique_vehicle_types)
vehicle_types = ['LIGHT VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'HEAVY VEHICLES', 'NaN', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'NaN', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'NAN', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'HEAVY VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES', 'LIGHT VEHICLES']
print(unique_vehicle_types_list)
print(len(vehicle_types))
print(len(unique_vehicle_types_list))

l3 = unique_vehicle_types_list
l4 = vehicle_types

['Station wagon', 'Motorcycle', 'Artic tanker', 'Semi-trailer', 'Car (sedan/hatch)', 'Light truck', '4 wheel drive', 'B-double (road train prior 98)', 'Passenger van', 'Large rigid', 'Other bus', 'Unknown motor vehicle', 'Pedal cycle', 'Utility', 'Unknown type', 'Quad bike', 'Motor scooter', 'MC & sidecar', 'Coach', 'STA bus', 'Mini-bike', 'Moped', 'Road train', 'Tractor', 'Motorised scooter (mob. aid)', 'Self prop plant', 'Motorised push scooters', 'Mot. wheelchair', 'Panel van', 'Rigid tanker', 'Other small trailer', 'Light truck utility(from 2018)', 'Tram', 'Ridden animal', 'Animal drawn veh', 'Detached trailer', 'Box trailer']
37
37

In [5]:
#function to change String format
def String_format(name):
    if isinstance(name, str):
        new_str = name.capitalize()
        return new_str

String_format("MUAZ")

def abreviation(word,l1,l2):
    #search for the word in l1 and return i index of l2
    i = 0
    while i < len(l1):
       if word == l1[i]:
           return l2[i]
       else:
           i += 1
           continue

In [7]:
unique_street_types = df1['Street type'].unique()
unique_street_types_list = list(unique_street_types)
full_street_type = ['Road','Way','Highway','Drive','Parade','Street','Avenue','Expressway','0','Distributor','Parkway','Court','Lane','Place','Boulevard','Close','Circuit','Crescent','Terrace','Bypass','Mall','Trail','Promenade','Grove','Track','Square','Esplanade','Gardens','Glen','Route','Driveway','Causeway','Loop','Chase','Access','Row','Walk','0']
#Loop through the dataset
l1 = unique_street_types
l2 = full_street_type

formatted_rows = []
formatted_rows2 = []
for index, row in df1.iterrows():
    if not pd.isnull(row["Street Crash"]) and not pd.isnull(row["Street type"]):
        formatted_string = String_format(row["Street Crash"]) + " " + abreviation(row["Street type"], l1, l2)
        formatted_rows.append(formatted_string)
    else:
        formatted_rows.append(None)
    
    
    formatted_string2 = abreviation(row["Key TU type"], l3, l4)
    formatted_rows2.append(formatted_string2)
  
    
df1["road_name"] = formatted_rows

df1["classification_type"] = formatted_rows2
df1.head()

,Crash ID,Degree of crash,Degree of crash - detailed,Reporting year,Year of crash,Month of crash,Day of week of crash,Two-hour intervals,Street Crash,Street type,...,First impact type,Key TU type,Other TU type,No. of traffic units involved,No. killed,No. seriously injured,No. moderately injured,No. minor-other injured,road_name,classification_type
0,1122708,Fatal,Fatal,2017,2017,January,Monday,18:00 - 19:59,HOLLOWAYS,RD,...,Rollover,Station wagon,NaN,1,1,0,0,0,Holloways Road,LIGHT VEHICLES
1,1122709,Fatal,Fatal,2017,2017,January,Monday,12:00 - 13:59,PUTTY,RD,...,Head-on,Motorcycle,Light truck,3,1,1,1,0,Putty Road,LIGHT VEHICLES
2,1122710,Fatal,Fatal,2017,2017,January,Tuesday,14:00 - 15:59,IRRIGATION,WAY,...,Rear end,Artic tanker,Car (sedan/hatch),3,2,0,1,0,Irrigation Way,HEAVY VEHICLES
3,1123942,Fatal,Fatal,2017,2017,January,Thursday,10:00 - 11:59,VARDYS,RD,...,Vehicle - Pedestrian,Semi-trailer,Pedestrian,2,1,0,1,0,Vardys Road,HEAVY VEHICLES
4,1123948,Fatal,Fatal,2017,2017,January,Saturday,12:00 - 13:59,PRINCES,HWY,...,Head-on,Car (sedan/hatch),4 wheel drive,2,1,2,3,0,Princes Highway,LIGHT VEHICLES

In [4]:
# Filter both crash and traffic volume dataframe based on Road Name Column
df_crash = df1[df1['road_name'].isin(df2['road_name'])]
df_traffic = df2[df2['road_name'].isin(df1['road_name'])]


print('Crash Data:',df1.shape[0])
print('Crash Data Filtered:',df_crash.shape[0])

print('Traffic Data:',df2.shape[0])
print('Traffic Data Filtered:',df_traffic.shape[0])

Crash Data: 101719
Crash Data Filtered: 35691
Traffic Data: 221530
Traffic Data Filtered: 148192

In [5]:
import time

start_time = time.time()

# Loop through each element in df_traffic
crash_count_list = []
for index, row in df_traffic.iterrows():
    # Filter crash dataframe to only include entries that allign with criteria
    crash_temp = df_crash[df_crash['road_name'] == row['road_name']]
    # Get number of entires and store as new list
    crash_count = crash_temp.shape[0]
    crash_count_list.append(crash_count)

df_traffic['crash_count'] = crash_count_list
df_traffic.head()

end_time = time.time()

time_taken = end_time - start_time
print('Time Taken:',time_taken)

# Take taken is 220 secconds = 3.7 mins. For criteria still need: cardinal direction*, year, period*, vehicle classification*

Time Taken: 375.1695761680603